  * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav h2 {
  display: inline;
  margin-right: 2rem;
}

nav ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

form div {
  margin-bottom: 0.25rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

form button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
